<!DOCTYPE html>
<html>

    <link rel="stylesheet" href="index.css">

    <body>
        <div class="main-page">
            <div class="image-div">
                <a href="" class="links">Contact</a>
                <a href="" class="links">About</a>
                <a href="" class="links">Home</a>
            </div>

            <div class="gleft"></div>
            <div class="gright"></div>
            <h1 class="header">Welcome to Nice Grub!</h1>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor<br> incididunt ut 
                labore et dolore magna aliqua. Nullam vehicula ipsum a arcu cursus vitae <br>congue. 
                Fermentum posuere urna nec tincidunt.
            </p>
            <br>
            <button class="btns">Pizza</button>
            <button class="btns">Salad</button>
            <button class="btns">Noodle</button>
            <br>

            <div class="row">
                <div class="column">
                    <figure>
                        <img alt="image" src="/mocks/niceGrub/assets/gallery/01.jpg" class="food-images">
                        <figcaption class="food-name">Salad</figcaption>
                        <figcaption class="caption">This is a salad</figcaption>
                        <figcaption>$55</figcaption>
                    </figure>
                </div>
                
                <div class="column">
                    <figure>
                        <img alt="image" src="/mocks/niceGrub/assets/gallery/02.jpg" class="food-images">
                        <figcaption class="food-name">Pizza Thingy</figcaption>
                        <figcaption class="caption">this is a Pizza</figcaption>
                        <figcaption>$70</figcaption>
                    </figure>
                </div>

                <div class="column">
                    <figure>
                        <img alt="image" src="/mocks/niceGrub/assets/gallery/03.jpg" class="food-images">
                        <figcaption class="food-name">Chicken Tendies</figcaption>
                        <figcaption class="caption">These are chicken tendies</figcaption>
                        <figcaption>$40</figcaption>
                    </figure>
                </div>
                
                <div class="column">
                    <figure>
                        <img alt="image" src="/mocks/niceGrub/assets/gallery/04.jpg" class="food-images">
                        <figcaption class="food-name">Fettechini</figcaption>
                        <figcaption class="caption"> This is Fettechini</figcaption>
                        <figcaption>$90</figcaption>
                    </figure>
                </div>
                
                
            </div>

            <br>

            <div class="row">

                <div class="column">
                    <figure>
                        <img alt="image" src="/mocks/niceGrub/assets/gallery/05.jpg" class="food-images">
                        <figcaption class="food-name">Meat balls</figcaption>
                        <figcaption class="caption">these are meat balls</figcaption>
                        <figcaption>$35</figcaption>
                    </figure>
                </div>

                <div class="column">
                    <figure>
                        <img alt="image" src="/mocks/niceGrub/assets/gallery/06.jpg" class="food-images">
                        <figcaption class="food-name">French toast</figcaption>
                        <figcaption class="caption">this is french toast</figcaption>
                        <figcaption>#25</figcaption>
                    </figure>
                </div>

                <div class="column">
                    <figure>
                        <img alt="image" src="/mocks/niceGrub/assets/gallery/07.jpg" class="food-images">
                        <figcaption class="food-name">Salad</figcaption>
                        <figcaption class="caption">this is a salad</figcaption>
                        <figcaption>#55</figcaption>
                    </figure>
                </div>

                <div class="column">
                    <figure>
                        <img alt="image" src="/mocks/niceGrub/assets/gallery/08.jpg" class="food-images">
                        <figcaption class="food-name">PotStickers</figcaption>
                        <figcaption class="caption">These are potstickers</figcaption>
                        <figcaption>$60</figcaption>
                    </figure>
                </div>


            </div>

            <br>

            <div class="bottom-div">
                <img alt="image" src="/mocks/niceGrub/assets/img-01.jpg" id="avacado">
                <h3>This is an Avacado</h3>

                <div class="avacado-text">
                    <p>Avacados are really cool although i do not like them, 
                        they look like<br> a pear with a giant seed in the middle of it.
                        I do not lik guacamole<br> either they bothe taste pretty nasty.
                    </p>

                    <button id="read-btn">Read More</button>
                </div>
                

            </div>
            


        </div>

    </body>


</html>